.card-wrapper {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin: 15px 10px;
    font-size: 1.5rem;
}

.card-header {
    background-color: #ccc;
}

.title {
    font-weight: 700;
    width: 70%;
}

.card-content {
    padding: 10px;
}

.delete {
    float: right;
    margin-left: 5px;
}

.delete:hover {
    color: #007bff;
}

.redact {
    float: right;
    margin-right: 5px;
}

.redact:hover {
    color: #007bff;
}
