.panel-body {
    background-color: #ccc;
}

.create-card-button {
    margin: 10px;
    font-size: 1.6rem;
}

.search-bar {
    /*background-image: url("f002");*/
    /*background-position: 10px 12px;*/
    /*background-repeat: no-repeat;*/
    float: right;
    width: 20%;
    height: 3rem;
    font-size: 1.6rem;
    padding: 0 10px;
    margin: 10px 50px 0;
    border: 1px solid #ddd;
}
