html {
    font-size: 10px;
}

.modal-content {
    font-size: 1.6rem;
}

#card-title {
    width: 70%;
}

#card-content {
    resize: none;
    height: 400px;
    width: 100%;
}

.save {
    float: right;
}

.close {
    float: left;
}

.close:hover {
    background-color: inherit;
}
#myModal1 .modal-dialog {
    margin-top: 300px;
}
